argcomplete==1.12.3
attrs==21.2.0
backports.entry-points-selectable==1.1.1
black==21.12b0
certifi==2021.5.30
cfgv==3.3.1
click==8.0.3
colorlog==6.6.0
coverage==6.2
distlib==0.3.4
filelock==3.4.0
flake8==4.0.1
flake8-annotations==2.7.0
flake8-black==0.2.3
flake8-docstrings==1.6.0
flake8-isort==4.1.1
flake8-markdown==0.3.0
flake8-pytest==1.3
identify==2.4.0
imageio==2.13.3
iniconfig==1.1.1
isort==5.10.1
mccabe==0.6.1
mypy==0.920
mypy-extensions==0.4.3
networkx==2.6.3
nodeenv==1.6.0
nox==2021.10.1
numpy==1.21.5
packaging==21.3
pathspec==0.9.0
Pillow==8.4.0
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.16.0
py==1.11.0
-e git+https://github.com/tdmorello/PyBaSiC.git@a18b9b6056943d44781aba226869fd18b87f0c95#egg=pybasic
pycodestyle==2.8.0
pydocstyle==6.1.1
pyflakes==2.4.0
pyparsing==3.0.6
pytest==6.2.5
pytest-cov==3.0.0
PyWavelets==1.2.0
PyYAML==6.0
scikit-image==0.19.1
scipy==1.7.3
six==1.16.0
snowballstemmer==2.2.0
testfixtures==6.18.3
tifffile==2021.11.2
toml==0.10.2
tomli==1.2.3
typing_extensions==4.0.1
virtualenv==20.10.0
